$black: black;
$white: white;
$primaryColor: #3498db;
$secondaryColor: #2ecc71;
$nav-logo-color:#171717;
$nav-menu-color:#626262;
$border-color:#FF4141;
$button-border:#7a7a7a;
$button-color:#515151;
$button-active:#f3f3f3;
$cart-count:red;
$linear-1:#fde1ff;
$linear-2:#e1ffea22;
$hero:#090909;
$hero-btn:#ff4141;
$hero-btn-hover:#e22525;
$item-color-new: #374151;
$item-color-old:#8c8c8c;
$hr-color:#252525;
$popular-bg:rgb(133, 151, 168);
$popular-bg-2:rgb(195, 176, 179);
$footer-color:#383838;
$capright-color:#1a1a1a;
$footer-icon-color:#fbfbfb;
$footer-border-color:#ebebeb;
$copy-right-hr:#c7c7c7;
$newsletter:#454545;
$newsletterdiv:#e3e3e3;
$newsletterinput:#616161;
$shopcategory:#888;
$explore_more:#9f9898;
$expolre_more_color:#d6cdcd;
$login-color:#fce3fe;
$login-input:#5c5c5c;
$login-button-color:#ff4141;
$login-button-color-hover:#aa2323;
$price-color-old:#818181;
$box-shadow:#817a7a;
$small-image:rgba(165, 168, 170, 0.4);
$breadcrum-color:#5e5e5e;
$right-star-color:#1c1c1c;
$right-h1-color: #3d3d3d;
$descriptionbox-nav-box: #d0d0d0;
$fade:#FBFBFB;
$fade-color:#555;
$cartitems-format-main:#454545;


