@import '../../Assets/Utils/Colors.scss';

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background:linear-gradient(180deg,$linear-1,$linear-2);
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    // background-color: red;
}
.footer-logo p{
   font-weight: 700;
   font-size: 46px;
 color: $footer-color;
}
.footer-links{
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 20px;

}
.footer-links li{
    cursor: pointer;
}
.footer-socials-icon{
    display: flex;
    // flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

}
.footer-icon-container{
    padding: 10px;
    padding-bottom: 6px;
  
    background-color: $footer-icon-color;
    border: 1px solid $footer-border-color;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: $capright-color;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background:$copy-right-hr;
}

@media (max-width:800px) {
    .footer{
        gap: 40px;
    }   
    .footer-logo{
      
        gap: 10px;
    }
    .footer-logo img{
      
        width: 50px;
    }
    .footer-logo p{
        font-weight: 600;
        font-size: 30px;
     }
     .footer-links{
        gap: 30px;
        font-size: 15px;
      
      }
      .footer-icons-container img{
        width: 20px;
      }
      .footer-copyright hr{
        width: 30%;
        border-radius: 10px;
        height: 2px;
    }
      .footer-copyright{
       
        gap: 20px;
        width: 100%;
        margin-bottom: 20px;
        font-size: 15px;
      }
  
}
